* {
    box-sizing: border-box;
}
body {
    background-color: #bff9ff;
    background-image: linear-gradient(to bottom, #FFFFFF, #bff9ff);
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    background-color: #FFFFFF;
}
header {
    background-color: #35b3ab;
    color: #FFFFFF;
    text-shadow: #f3b200 1px 1px 2px;
    text-align: center;
    padding: 0.5em 0;
}
header a {
    color: #FFFFFF;
    text-decoration: none;
}
header a:hover {
    color: #024f64;
}

h1 { margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: #f3b200;
    text-align: center;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    border-bottom: 1px solid #FFFFFF;
}
nav a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em;
}
nav a:link {
    color: #ffe7aa;
}

nav a:visited {
    color: #35b3ab;
}

nav a:hover {
    color:#FFFFFF;
}
#beachhero {
    width: 100%;
    height: auto;
    display: block;
}
main {
    padding: 0px 20px 20px 20px;
}
h2 {
    color: #024f64;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px #ffe7aa;
}
h3 {
    color: #024f64;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.photo-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}
.photo-row-video {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    width: auto;
    gap: 20px;
}
.bordered {
    border: 1px solid #000000;
    border-radius: 3px;
}
.thailand {
    font-weight: bold;
    color: #35b3ab;
}
.text {
    text-align: justify;
}
#contact {
    font-size: 90%;
    text-align: center;
    padding-top: 10px;
}
footer {
    background-color: #FFFFFF;
    padding: 2em;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table {
    border: 2px solid #f3b200;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #f3b200;
    padding: 0.5em;
}
td {
    text-align: center;
}
table tr:nth-of-type(odd) {
    background-color: #bff9ff;
}
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1em;
}
form label {
    margin-bottom: 0.2em;
}
form input, textarea {
    margin-bottom: 0.5em;
    font-family: inherit;
    font-size: 1em;
}

@media (min-width: 600px) {
    body {
        background-color: #bff9ff;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    nav li {
        border-bottom: none;
    }
    form {
        width: 60%;
        max-width: 30em;
        display: grid;
        grid-template-columns: 6em 1fr;
        grid-gap: 1em;
    }
    form label {
        text-align: right;
        padding-right: 0.5em;
        margin-bottom: 0;
        align-self: center;
    }
    form input, form textarea {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 0em;
    }
    input[type="submit"] {
        grid-column: 2 / 3;
        width: 9em;
        justify-self: left;
    }
}
@media (min-width: 1024px) {
    #wrapper {
        margin: 0 auto;
        width: 80%;
        background-color: #bff9ff;
        border: 1px solid #024f64;
        box-shadow: 3px 3px 3px #024f64;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }
    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
        text-align: center;
        padding-left: 0em;
    }
    nav li {
        border-bottom: none;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
        background-color: #ffe7aa;
    }
}